DISCORD_BOT_TOKEN=
TWITTER_BEARER_TOKEN=
TARGET_DISCORD_CHANNEL_ID=
TWITTER_USER_TO_MONITOR=
# Comma-separated list, e.g.: bitcoin, eth, airdrop
KEYWORDS_TO_MONITOR=
# Supported: de, en
BOT_DEFAULT_LANGUAGE=en

