Flask>=2.0
Flask-SQLAlchemy>=2.5
Flask-Migrate>=3.0
Flask-Cors>=3.0 # Для разрешения запросов с фронтенда
python-dotenv>=0.19
mysql-connector-python>=8.0 # Драйвер MySQL
gunicorn>=20.1 # WSGI сервер
Werkzeug>=2.0 # Для хеширования паролей